h1{
    color: black;
    font-weight: bolder;
    text-align: center;
}
h4{
    font-weight: normal;
    text-align: center;
}
p{
    text-align: center;
}
div{
    margin: auto;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.gray{
    color: gray;
}